#{extends 'main.html' /}
#{set title:'Home' /}
<!----start-images-slider---->
		<div class="images-slider">
			<!-- start slider -->
		    <div id="fwslider">
		        <div class="slider_container">
		            <div class="slide"> 
		                <!-- Slide image -->
		                    <img src="@{'/public/images/slider-bg.jpg'}" alt=""/>
		                <!-- /Slide image -->
		                <!-- Texts container -->
		                <div class="slide_content">
		                    <div class="slide_content_wrap">
		                        <!-- Text title -->
		                        <h4 class="title">Viajar es vivir</h4>
		                        <!-- /Text title -->
		                        <!-- Text description -->
		                        <p class="description">You Don't Need Magic to Disappear. All you need is a destination.</p>
		                        <!-- /Text description -->
		                    </div>
		                </div>
		                 <!-- /Texts container -->
		            </div>
		            <!-- /Duplicate to create more slides -->
		            <div class="slide">
		                <img src="@{'/public/images/diego.jpg'}" alt=""/>
		                <div class="slide_content">
		                     <div class="slide_content_wrap">
		                        <!-- Text title -->
		                        <h4 class="title"></h4>
		                        <!-- /Text title -->
		                        <!-- Text description -->
		                        <p class="description"></p>
		                        <!-- /Text description -->
		                     
		                    </div>
		                </div>
		            </div>
		            <!--/slide -->
		         <!-- /Duplicate to create more slides -->
		            <div class="slide">
		                <img src="@{'/public/images/en.jpg'}" alt=""/>
		                <div class="slide_content">
		                    
		                </div>
		            </div>
		            <!--/slide -->
		             <!-- /Duplicate to create more slides -->
		            <div class="slide">
		                <img src="@{'/public/images/slider-bg.jpg'}" alt=""/>
		                <div class="slide_content">
		       
		                </div>
		            </div>
		            <!--/slide -->
		        </div>
		        <div class="timers"> </div>
		        <div class="slidePrev"><span> </span></div>
		        <div class="slideNext"><span> </span></div>
		    </div>
		    <!--/slider -->
		</div>
		<!----start-find-place---->
		<div class="find-place">
			<div class="wrap">
				<!--<div class="p-h">
					<span>FIND YOUR</span>
					<label>HOLYDAYS</label>
				</div>-->
				<!---strat-date-piker---->
				  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
				  <script>
				  $(function() {
				    $( "#datepicker" ).datepicker();
				  });
				  </script>
				<!---/End-date-piker---->
				<!--<div class="p-ww">
					<form>
						<span> Where</span>
						<input class="dest" type="text" value="Distination" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Distination';}">
						<span> When</span>
						<input class="date" id="datepicker" type="text" value="Select date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select date';}">
						<input type="submit" value="Search" />
					</form>
				</div>-->
				<div class="clear"> </div>
			</div>
		</div>
		<!----//End-find-place---->
		<!----start-offers---->
		<div class="offers">
			<div class="offers-head">
				<h3>Ofertas Especiales</h3>
				<p>Los mejores viajes del 2015!!!!!</p>
			</div>
			<!-- start content_slider -->
			<!-- FlexSlider -->
			 <!-- jQuery -->
			  
			  <!-- FlexSlider -->
			  
			  <script type="text/javascript">
			    $(function(){
			      SyntaxHighlighter.all();
			    });
			    $(window).load(function(){
			      $('.flexslider').flexslider({
			        animation: "slide",
			        animationLoop: true,
			        itemWidth:250,
			        itemMargin: 5,
			        start: function(slider){
			          $('body').removeClass('loading');
			        }
			      });
			    });
			  </script>
			<!-- Place somewhere in the <body> of your page -->
				 <section class="slider">
		        <div class="flexslider carousel">
		          <ul class="slides">
		            <li onclick="location.href='#';">
		  	    	    <img src="@{'/public/images/p1.jpg'}" />
		  	    	    <!----place-caption-info---->
		  	    	    <div class="caption-info">
		  	    	    	 <div class="caption-info-head">
		  	    	    	 	<div class="caption-info-head-left">
			  	    	    	 	<h4><a href="#">New York</a></h4>
			  	    	    	 	<span>Bonus Extras!</span>
		  	    	    	 	</div>
		  	    	    	 	<div class="caption-info-head-right">
		  	    	    	 		<span> </span>
		  	    	    	 	</div>
		  	    	    	 	<div class="slide-btns description">
		                        	<ul>
		                        		<li><a class="mapbtn" href="#">Registrar cupo </a></li>
		                        		<div class="clear"> </div>
		                        	</ul>
		                        </div>
		  	    	    	 	<div class="clear"> </div>
		  	    	    	 </div>
		  	    	    </div>
		  	    	     <!----//place-caption-info---->
		  	    		</li>
		  	    		 <li onclick="location.href='#';">
		  	    	    <img src="@{'/public/images/p2.jpg'}" />
		  	    	    <!----place-caption-info---->
		  	    	    <div class="caption-info">
		  	    	    	 <div class="caption-info-head">
		  	    	    	 	<div class="caption-info-head-left">
			  	    	    	 	<h4><a href="#">Roma</a></h4>
			  	    	    	 	<span>Bonus Extras!</span>
		  	    	    	 	</div>
		  	    	    	 	<div class="caption-info-head-right">
		  	    	    	 		<span> </span>
		  	    	    	 	</div>
		  	    	    	 	<div class="slide-btns description">
		                        	<ul>
		                        		<li><a class="mapbtn" href="#">Registrar cupo </a></li>
		                        		<div class="clear"> </div>
		                        	</ul>
		                        </div>
		  	    	    	 	<div class="clear"> </div>
		  	    	    	 </div>
		  	    	    </div>
		  	    	     <!----//place-caption-info---->
		  	    		</li>
		  	    		 <li onclick="location.href='#';">
		  	    	    <img src="@{'/public/images/p3.jpg'}" />
		  	    	    <!----place-caption-info---->
		  	    	    <div class="caption-info">
		  	    	    	 <div class="caption-info-head">
		  	    	    	 	<div class="caption-info-head-left">
			  	    	    	 	<h4><a href="#">Venecia</a></h4>
			  	    	    	 	<span>Bonus Extras!</span>
		  	    	    	 	</div>
		  	    	    	 	<div class="caption-info-head-right">
		  	    	    	 		<span> </span>
		  	    	    	 	</div>
		  	    	    	 	<div class="slide-btns description">
		                        	<ul>
		                        		<li><a class="mapbtn" href="#">Registrar cupo </a></li>
		                        		<div class="clear"> </div>
		                        	</ul>
		                        </div>
		  	    	    	 	<div class="clear"> </div>
		  	    	    	 </div>
		  	    	    </div>
		  	    	     <!----//place-caption-info---->
		  	    		</li>
		  	    		 <li onclick="location.href='#';">
		  	    	    <img src="@{'/public/images/p4.jpg'}" />
		  	    	    <!----place-caption-info---->
		  	    	    <div class="caption-info">
		  	    	    	 <div class="caption-info-head">
		  	    	    	 	<div class="caption-info-head-left">
			  	    	    	 	<h4><a href="#">Paris</a></h4>
			  	    	    	 	<span>Bonus Extras!</span>
		  	    	    	 	</div>
		  	    	    	 	<div class="caption-info-head-right">
		  	    	    	 		<span> </span>
		  	    	    	 	</div>
		  	    	    	 	<div class="slide-btns description">
		                        	<ul>
		                        		<li><a class="mapbtn" href="#">Registrar cupo </a></li>
		                        		<div class="clear"> </div>
		                        	</ul>
		                        </div>
		  	    	    	 	<div class="clear"> </div>
		  	    	    	 </div>
		  	    	    </div>
		  	    	     <!----//place-caption-info---->
		  	    		</li>
		            <li onclick="location.href='#';">
		  	    	    <img src="@{'/public/images/p5.jpg'}" />
		  	    	    <!----place-caption-info---->
		  	    	    <div class="caption-info">
		  	    	    	 <div class="caption-info-head">
		  	    	    	 	<div class="caption-info-head-left">
			  	    	    	 	<h4><a href="#">Texas</a></h4>
			  	    	    	 	<span>Bonus Extras!</span>
		  	    	    	 	</div>
		  	    	    	 	<div class="caption-info-head-right">
		  	    	    	 		<span> </span>
		  	    	    	 	</div><div class="slide-btns description">
		                        	<ul>
		                        		<li><a class="mapbtn" href="#">Registrar cupo </a></li>
		                        		<div class="clear"> </div>
		                        	</ul>
		                        </div>
		  	    	    	 	<div class="clear"> </div>
		  	    	    	 </div>
		  	    	    </div>
		  	    	     <!----//place-caption-info---->
		  	    		</li>
		  	         </ul>
		        </div>
		      </section>
              <!-- //End content_slider -->
		</div>
		<!----//End-offers---->
		<!---start-holiday-types---->
			<div class="holiday-types">
				<div class="wrap">
					<div class="holiday-type-head">
						<h3>Vacaciones</h3>
						<span>Explora tus propios sueños viajando!</span>
					</div>
					<div class="holiday-type-grids">
						<div class="holiday-type-grid";>
							<span class=""></span>
							<a href="#"></a>
						</div>
						<div class="holiday-type-grid";>
							<span class="icon2"> </span>
							<a href="#">Ciudades</a>
						</div>
						<div class="holiday-type-grid";>
							<span class="icon4"> </span>
							<a href="#">Aventura</a>
						</div>
						<div class="holiday-type-grid";>
							<span class="icon5"> </span>
							<a href="#">Safari</a>
						</div>
						<div class="holiday-type-grid";>
							<span class="icon6"> </span>
							<a href="#">Playas</a>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				</div>
		<!---//End-holiday-types---->
		<!----//End-images-slider---->
